.dark-mode{
    filter: invert(1) hue-rotate(180deg)
}
 
.invert{
    filter: invert(1) hue-rotate(180deg)
}

  #navMenu{
      margin-top: 30px;
      justify-content: center;
  }
  header{
      text-align: center;
  }
  .navbar-start{
      margin-right: initial;
  }
  .btn-custom{
      margin-top: 20px;
      padding: 20px 10px 20px 10px;
  }

  #custom input, #custom button{
      margin-top: 10px;
  }
  .card-header{
      padding: 0;
  }
  .active.highlighted{
      background-color: lightcoral;
  }
  .badge.badge-pill{
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 100%;
  }