.dark-mode{
    filter: invert(1) hue-rotate(180deg)
}
 
.invert{
    filter: invert(1) hue-rotate(180deg)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  #navMenu{
      margin-top: 30px;
      justify-content: center;
  }
  header{
      text-align: center;
  }
  .navbar-start{
      margin-right: initial;
  }